###  IQR: is the Interquartile Range 
##### Q3: is the third quartile
##### Q1: is the first quartile
##### Q3 - Q1: is the differnce b/w the third and first quartile

### Properties of Interquartile Range (IQR):

##### 1) The median of the IQR is 0, and the standard deviation is 1.
##### 2) The higher the value of the IQR, the farther the data point is from the median.
##### 3) The lower the value of the IQR, the closer the data point is to the median.

In [1]:
# Step 1: Import the required libraries
import pandas as pd
import numpy as np

In [5]:
# Step 2: Create the data
data = pd.DataFrame({'Age': [20,21,22,23,24,25,26,27,28,29,30,50]})
data

    Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50

In [8]:

# Step 3: Calculate the first and third quartile
Q1 = np.percentile(data['Age'], 25, interpolation = 'midpoint')
Q3 = np.percentile(data['Age'], 75, interpolation = 'midpoint')
print(Q1)
print(Q3)

22.5
28.5

In [9]:
# Step 4: Calculate the IQR
IQR = Q3 - Q1
IQR

6.0

In [13]:
# Step 5: Calculate the lower and upper bound
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
print("Lower_bound: ", lower_bound)
print("Upper_bound: " , upper_bound)

Lower_bound:  13.5
Upper_bound:  37.5

In [14]:
# Step 6: Print the data
print("----------------------------------------")
print(f"Here is the data with outliers:\n {data}")
print("----------------------------------------")
# Step 7: Print the outliers
print(f"Here are the outliers based on the IQR threshold:\n {data[(data['Age'] < lower_bound) | (data['Age'] > upper_bound)]}")
print("----------------------------------------")
# Step 8: Remove the outliers
data = data[(data['Age'] >= lower_bound) & (data['Age'] <= upper_bound)]

# Step 9: Print the data without outliers
print(f"Here is the data without outliers:\n {data}")

----------------------------------------
Here is the data with outliers:
     Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50
----------------------------------------
Here are the outliers based on the IQR threshold:
     Age
11   50
----------------------------------------
Here is the data without outliers:
     Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30