In [1]:
# Step 1: Import the requires libraries
import pandas as pd
import numpy as np

# Step 2: Create the data
data = pd.DataFrame({'Age' : [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 50]})
data

    Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50

In [2]:
# Step 3: Calculate the mean and Standar deviation
mean = np.mean(data['Age'])
std = np.std(data['Age'])

In [3]:
print(mean)
print(std)

27.083333333333332
7.543853274171114

In [4]:
# Step 4: Calculate the Z-Score
data['Z-Score'] = (data['Age']-mean)/std
data['Z-Score']

0    -0.938954
1    -0.806396
2    -0.673838
3    -0.541280
4    -0.408721
5    -0.276163
6    -0.143605
7    -0.011047
8     0.121512
9     0.254070
10    0.386628
11    3.037793
Name: Z-Score, dtype: float64

In [6]:
# Step 5: Print the data
print("----------------------------------------")
print(f"Here is the data with outliers:\n {data}")
print("----------------------------------------")
# Step 6: Print the outliers
print(f"Here are the outliers based on the z-score threshold, 3:\n {data[data['Z-Score'] > 3]}")
print("----------------------------------------")
# Step 7: Remove the outliers
data = data[data['Z-Score'] <= 3]

# Step 8: Print the data without outliers
print(f"Here is the data without outliers:\n {data}")

----------------------------------------
Here is the data with outliers:
     Age   Z-Score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628
11   50  3.037793
----------------------------------------
Here are the outliers based on the z-score threshold, 3:
     Age   Z-Score
11   50  3.037793
----------------------------------------
Here is the data without outliers:
     Age   Z-Score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628

In [ ]:
# using sci